/*****grey******/
.pagination {
  text-align: center;
}
.pagination span {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
}
.pagination .page {
  width: 32px;
  height: 32px;
  border: 1px solid #616161;
  text-align: center;
  color: #616161;
  border-radius: 16px;
  cursor: pointer;
}
.pagination .page.select {
  background: #ff565c;
  color: #fff;
  border: 1px solid #ff565c;
}
.pagination .page.end {
  background: #616161;
  color: #fff;
}
.pagination .dot {
  width: 6px;
  height: 6px;
  border: 1px solid #616161;
  border-radius: 3px;
}
.pagination .page-tool {
  border: 1px solid #616161;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  background: #616161;
  color: #fff;
  cursor: pointer;
}
.pagination .page-tool.next {
  margin-left: 20px;
}
.pagination .page-tool.prev {
  margin-right: 20px;
}
